<input type="button" class="btn btn-success" value="+" ng-click="addItem()"/>
<input type="button" class="btn btn-success" value="-" ng-click="removeItem()"/>
<table>
    <thead>
        <tr>
            <th>Weight</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
           <td colspan="2">
               <input-weight-price weight="item.weight" price="item.price"></input-weight-price>
           </td>
        </tr>
    </tbody>
</table>

